{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <strong>
                        {% if user.is_authenticated %}
                        <form class ="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}

                            {% if liked %}
                            <button type="submit" name ="blogpost_id" value="{{ post.slug }}" class="btn-like"><i class="fas fa-heart"></i>
                            </button>

                            {% else %}
                            <button type="submit" name ="blogpost_id" value="{{ post.slug }}" class="btn-like"><i class="far fa-heart"></i>
                            </button>
                            {% endif %}
                        </form>

                        {% else %}
                        
                        {% endif %}
                        {{ post.number_of_likes }}
                   </strong>
                </div>
                <div>
                   
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                    {% if request.user.is_superuser %}
                    <div>
                        <a class="btn-edit-post-detail btn btn-success" role="button" href="/edit/{{ post.slug }}">Edit</a>
                    </div>
                    <div>
                        
                    </div>
                        <a class="btn btn-danger" role="button" href="/deletecheck/{{ post.slug }}">Delete</a>
                    </div>

                    {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}