{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container bg-black header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col 10">
            <p class="display-10 logo-font text-white">
                A diaspora (/daɪˈæspərə/ dye-AS-pər-ə) is a population that is scattered across 
                regions which are separate from its geographic place of origin.
            </p>
        </div>
    </div>
</div>
{% block content %}
    <div class="overlay"></div>
        <div class="container container-front-page my-auto col-xs-12 col-sm-12 col-md-10 col-lg-12 col-xl-2 d-flex flex-row justify-content-center">
                <div class="card-group front-page-images border-0 padding-2">
                    <div class="card-body width- bg-black">
                        <a href="default.asp">
                            <img class="card-img-top border-white img-fluid" src="/media/About.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>
                    </div>
                    <div class="card-body bg-black">
                        <a href="default.asp">
                            <img class="card-img-top border-white img-fluid" src="/media/Music.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>
                    </div>
                    <div class="card-body bg-black">
                        <a href="{% url 'products' %}">
                            <img class="card-img-top border-white img-fluid" src="/media/Merch.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>   
                    </div>
                    <div class="card-body bg-black">
                        <a href="default.asp">
                            <img class="card-img-top border-white img-fluid" src="/media/Blog.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>
                    </div> 
                    <div class="card-body bg-black">
                        <a href="default.asp">
                            <img class="card-img-top border-white img-fluid" src="/media/Booking.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>
                    </div> 
                    <div class="card-body bg-black">
                        <a href="default.asp">
                            <img class="card-img-top border-white img-fluid" src="/media/Booking.png" alt="HTML tutorial" style="width:265px;height:331px;">
                        </a>
                    </div> 
                </div>
            </div>
        </div>
{% endblock %}