{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container bg-black header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container fp-text-margin col-xs-12 col-sm-10 col-md-8 col-lg-10 col-xl-8 text-center justify-content-center">
    <div class="row">
        <div class="col-12">
            <p class="display-10 text-uppercase text-white">
            </p>
        </div>
    </div>
</div>
    <div class="overlay"></div>
        <div class="container ml-auto mr-auto col-xs-12 col-sm-12 col-md-10 col-lg-11 col-xl-10 d-flex flex-row justify-content-center">
                <div class="row justify-content-center">
                    <div class="px-3 py-3">
                        <a href="{% url 'about' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}About.png" alt="image link to read about diaspora" style="width:265px;height:331px;">
                        </a>
                    </div>
                    <div class="px-3 py-3">
                        <a href="{% url 'music' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}Music.png" alt="image link to see our artist and their music" style="width:265px;height:331px;">
                        </a>
                    </div>
                    <div class="px-3 py-3">
                        <a id="products" href="{% url 'products' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}Merch.png" alt="image link to see our merchandise and clothing" style="width:265px;height:331px;">
                        </a>   
                    </div>
                    <div class="px-3 py-3">
                        <a href="{% url 'blog' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}Blog.png" alt="image link to blog about music and culture" style="width:265px;height:331px;">
                        </a>
                    </div> 
                    <div class="px-3 py-3">
                        <a href="{% url 'booking' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}Booking.png" alt="image link on page for booking" style="width:265px;height:331px;">
                        </a>
                    </div> 
                    <div class="px-3 py-3">
                        <a href="{% url 'contact' %}">
                            <img class="border-white img-fluid" src="{{ MEDIA_URL }}Booking.png" alt="image link to all our contact information" style="width:265px;height:331px;">
                        </a>
                    </div> 
                </div>
            </div>
        </div>
{% endblock %}