{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container bg-black header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 col-md-10 col-sm-8 my-auto">
                <p class="display-10 logo-font text-black">
                    A diaspora (/daɪˈæspərə/ dye-AS-pər-ə) is a population that is scattered across regions which are separate from its geographic place of origin.
                </p>
                <div class="my-6">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">About</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Music</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Merch</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">News</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Booking</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}