<div class="collapse navbar-collapse mr-4" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font btn btn-black font-weight-bold nav-link text-white mx-2" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font btn btn-purple font-weight-bold nav-link text-white mx-2" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music
            </a>
        </li>
        <li class="nav-item dropdown zzz">
            <a href="{% url 'products' %}" class="logo-font btn btn-black font-weight-bold nav-link text-white mx-2" button="submit"   id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merch
            </a>
        <li class="nav-item dropdown">
            <a class="logo-font btn btn-purple font-weight-bold nav-link text-white mx-2" href="{% url 'products' %}" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font btn btn-black font-weight-bold nav-link text-white mx-2" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Booking
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font btn btn-purple font-weight-bold nav-link text-white mx-2" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>

