{% extends "base.html" %}

{% block content %}


    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-12">
                <p class="text-center text-white"></p>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-md-11 col-lg-9 col-xl-9 mt-2">
                <div class="mb-2 mt-5">
                    <a target="_blank">
                        <img class="img-fluid border border-white" src="/media/diaspora_gambia.JPG" alt="youth in gambia with diaspora clothing">
                    </a>
                </div>
             </div>
        </div>
            <div class="row">
                <div class="col-11 col-md-10 col-lg-8 col-xl-7 mt-2 mx-auto">
                    <div class="about-page-text-container mb-3">
                        <h5 class="mt-3">About us</h5>
                            <p class="mb-0">
                            A few years ago a group of friends from Stockholm, Sweden pulled out some decks in an old warehouse
                            and hosted a rave. This went down as 'one of those nights' and is where Diaspora was born. 
                            The definition of A Diaspora reads: A group of people that is scattered across regions 
                            which are separate from its geographic place of origin. We found a home in Stockholm, but 
                            our roots reach far across different lands, oceans and continents. Our inspiration therefore
                            comes in the clash of <strong>different cultures, and culminates into borderless sounds and ideas.</strong>
                            </p>
                            <h5 class="mt-4">Our purpose</h5>
                            <p class="mb-0">
                            ... is to create spaces both physically and digitally where the people of the diaspora can see, hear and feel
                            the words, sounds and movements of the duality and the context that we exist in. We are a group of friends
                            who are passionate about <strong>music and culture and we want to collaborate with like-minded people.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-2 text-center mx-auto">
                    
                    <a class="logo-font btn btn-black-inverted font-weight-bold text-white m-2" href="https://www.instagram.com/mansamusik/" rel="noopener">
                        Mansa
                    </a>
                    <a class="logo-font btn btn-black-inverted font-weight-bold  text-white m-2" href="https://www.instagram.com/jazz08042/" rel="noopener">
                        Jazz
                    </a>
                    <a  class="logo-font btn btn-black-inverted font-weight-bold text-white m-2" href="https://www.instagram.com/jinkubeats/" rel="noopener">
                        Jinku
                    </a>
                    <a class="logo-font btn btn-black-inverted font-weight-bold text-white m-2" href="https://www.instagram.com/alexandradabo/" rel="noopener">
                        Alexandra
                    </a>
                    <a class="logo-font btn btn-black-inverted font-weight-bold text-white m-2" href="https://www.instagram.com/tabascogurl/" rel="noopener">
                        Ammie
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}