{% extends "base.html" %}

{% block content %}


    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-12">
                <p class="text-center text-white"></p>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-md-11 col-lg-9 col-xl-9 mt-2">
                <div class="mb-2 mt-5">
                    <a>
                        <img class="img-fluid border border-white" src="{{ MEDIA_URL }}diaspora_gambia.JPG" alt="youth in gambia with diaspora clothing">
                    </a>
                </div>
             </div>
        </div>
            <div class="row">
                <div class="col-11 col-md-10 col-lg-8 col-xl-7 mt-2 mx-auto">
                    <div class="about-page-text-container mb-3">
                        <h5 class="mt-3">About us</h5>
                            <p class="mb-0">
                            In early 2022, Mansa would meet with some friends and arrange evenings at a spot in central Stockholm where people
                            would gather to listen to music, dance and socialize. The idea was to create a space where people
                            with roots outside of Europe could meet and share their stories, music and culture. Thus, Diaspora was born. 
                            For us,<strong> music is a universal language that reaches out and connects people,</strong>
                            and culture is the glue that binds us closer together.
                            </p>
                            <br>
                            <p class="mb-0">
                            The definition of A Diaspora reads: A group of people that is scattered across regions 
                            which are separate from its geographic place of origin. We love to rep our area code 08 - Stockholm, 
                            but our sound, our music, and our culture is a reflection of the roots and experiences that made us who we are. 
                            Our intent is then to<strong> collaborate with you, into creating more borderless sounds and ideas</strong>
                            and show them to the world. </p>
                            <br>
                            <p class="mb-0">
                            We're here to so that you can<strong> hear and feel the words, sounds and movements 
                            of a duality and the experience of living in a diasporal context.</strong> We used to only be live at events here in the north 
                            ... but now we have a digital platform, to be able to reach you, over there, who resonates in the same spirit as we. 
                            Something by Diaspora, for the Diaspora.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}