{% extends "base.html" %}

{% block content %}


    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-12">
                <p class="text-center text-white"></p>
            </div>
        </div>
    </div>
    <div class="container border-bottom">
        <div class="row mt-5 mb-1 p-3">
            <div class="col-6">
                <div class="float-left">
                    <a class="btn btn-black text-uppercase" href="{% url 'music' %}">Back to artists / DJ's
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right text-uppercase">
                    <h3>Latest Music</h3>
                </div>
            </div>  
        </div>
    </div>
    
    {% for latestMusic in object_list %}
    <div class="container mt-3 mb-3">
        <div class="col-12">
            <div class="row justify-content-center mb-3">
                <h4 class="mb-1 text-uppercase">{{ latestMusic.artist_name }}</h4>
            </div>
        </div>
        <div class="row">
                <div class="col-10 col-m-8 col-lg-6 mx-auto">
                    <a href="#">
                        <img class="card-img-top img-fluid border border-white"  src="{{ latestMusic.track_image.url }}" alt="{{ product.artist_name }}">
                    </a>
                </div>
                <div class="col-10 col-m-8 col-lg-6 mx-auto mt-5 mb-3">
                    <p class="text-center text-white">{{ latestMusic.track_bio | safe }}</p>
                </div>
                <div class="col-4 col-m-3 col-lg-2 pt-5">
                    <div class="row justify-content-center mb-5">
                        <a class="btn btn-sm btn-purple col-10" href="{{ latestMusic.track_link_spotify }}">Spotify
                        </a>
                    </div>
                </div>
                <div class="col-4 col-m-3 col-lg-2 pt-5">
                    <div class="row justify-content-center mb-5"> 
                        <a class="btn btn-sm btn-purple col-10" href="{{ latestMusic.track_link_bandcamp }}">Bandcamp
                        </a>
                    </div>
                </div>
                <div class="col-4 col-m-3 col-lg-2 pt-5">
                    <div class="row justify-content-center">
                        <a class="btn btn-sm btn-purple col-10" href="{{ latestMusic.track_link_soundcloud }}">Soundcloud
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>

<div class="container">
    <div class="row mb-5 pb-5">
        <div class="col-12">
            <p class="text-center text-white"></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5 pb-5">
        <div class="col-12">
            <p class="text-center text-white"></p>
        </div>
    </div>
</div>
{% endblock %}




